################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MassTransit.MultiStep.Portal/bin/Debug/netcoreapp2.0
