################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MassTransit.MultiStep.Portal/bin/Debug/netcoreapp2.0
/MassTransit.MultiStep.Portal/obj
/obj
/MassTransit.MultiStep.Saga/obj
/.vs
/MassTransit.MultiStep.Common/bin/Debug/netstandard2.0
/MassTransit.MultiStep.Common/obj
/MassTransit.MultiStep.Saga/bin/Debug/netcoreapp2.0
/MassTransit.MultiStep.CreditService/bin/Debug/netcoreapp2.0
/MassTransit.MultiStep.CreditService/obj
