<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/9da05c61-52c0-4883-b47b-d23fa4865872/resourceGroups/microservices-example-cluster/providers/Microsoft.ContainerRegistry/registries/microservicesexampleregistry</ResourceId>
    <ResourceName>microservicesexampleregistry</ResourceName>
    <ResourceGroup>microservices-example-cluster</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://microservicesexampleregistry.azurecr.io/</RegistryUrl>
    <UserName>microservicesexampleregistry</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>abc91374-3d5d-4cf9-8aad-6be1ffd29ff9</ProjectGuid>
  </PropertyGroup>
</Project>