@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<input type="hidden" id="tokenValue" value="@ViewData["Token"]" />

<button id="runReport">Run Report</button>
<p>Use this area to provide additional information.</p>

<div id="embedContainer" style="height:600px; width:100%;">

</div>

