@{
    ViewData["Title"] = "Submission Page";
}



<div class="row">
    <div class="col-md-12">
        <div class="center-block">
            <br />
            <br />
            Policy Request has been submitted

        </div>
    </div>

</div>
